:root {
    --background-color: white;
    --font-family: "Big Shoulders Display", sans-serif;
    --font-size: 1rem;
    --text-color: black;
    --header-background-color: #ec9b3e6e;
    --label-width: 150px;
    --label-padding-right: 0.5rem;
    --footer-padding: 2rem;
    --footer-background-color: #ec9b3e6e;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-background-color);
}

.hero picture img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.weather h2::after {
    content: url("../images/weather-icon.svg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.weather h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 1rem;
    padding: 1rem;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}

section p {
    margin: 0;
}

div.data-table, div.weather-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

div.data p, div.weather p {
    text-align: left;
}

.label {
    text-align: right;
}

div.data p strong, div.weather p strong {
    display: inline-block;
    width: var(--label-width); /* Adjust the width as needed */
    text-align: right;
    padding-right: var(--label-padding-right);
}

footer {
    padding: var(--footer-padding);
    text-align: center;
    background-color: var(--footer-background-color);
}

@media only screen and (min-width: 650px) {

    main {
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
    }

    .data {
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: rgba(255, 255, 255, 0.836);
    }

    section {
        padding: 0;
    }

    div.data-table, div.weather-table {
        margin: 1rem;
    }

    .data h2, .weather h2 {
        text-align: left;
        margin: 0;
        background-color: var(--header-background-color);
        padding: .5rem;
    }

    .weather {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background-color: rgba(255, 255, 255, 0.836);
    }
    
    .weather h2 {
        flex-direction: row;
    }

    .weather h2::after {
        content: "⛅";
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
    }
}